.github
  - github_image = @image_tag('social/github.png', alt: 'code available on github', title: 'code available on github')
  = @link_to github_image+'code available on github ', 'https://github.com/rank-a-brand/relaunch-recruit-website', {target: '_blank'}

  - travis_image = @image_tag('https://travis-ci.org/rank-a-brand/relaunch-recruit-website.svg?branch=master', alt: 'travis build status', title: 'travis build status')
  .travis
    = @link_to travis_image, 'https://travis-ci.org/rank-a-brand/relaunch-recruit-website', {target: '_blank'}

.text
  This website was hand made with the
  = @link_to 'easy-website-generator', 'https://github.com/easy-website-generator/easy-website-generator', {target: '_blank'}
  and brought to you with love by
  = @link_to 'www.creative-workflow.berlin', 'https://www.creative-workflow.berlin/company.html', {target: '_blank'}
  and loads under 70kb at all =)

.w3c
  = @link_to @image_tag("html5-badge-h-css3-device-performance-semantics.png", {width: "229", height: "64", alt: "HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics", title: "HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics"}), 'https://validator.w3.org/nu/?doc=https%3A%2F%2Frank-a-brand.github.io', target: '_blank'
  = @link_to 'html5 valid', 'https://validator.w3.org/nu/?doc=https%3A%2F%2Frank-a-brand.github.io', target: '_blank'

.checks
  %span.item
    page speed: 95/100 ->
    = @link_to '(check google insights)', 'https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Frank-a-brand.github.io%2F&tab=desktop', {target: '_blank'}

  %span.item
    seo score: 97/100 ->
    = @link_to '(check oneproseo)', 'https://www.advertising.de/sitecheck/?url=https://rank-a-brand.github.io', {target: '_blank'}


.copyright
  = @copyright 'Rank a Brand'

  = ' - ' + @link_to 'disclaimer', 'https://rankabrand.org/home/Disclaimer', {target: '_blank'}
