
.row
  = @render_partial 'index/_what_we_do'

.row
  = @render_partial 'index/_who_we_are'

.row.why-we-need-you
  = @render_partial 'index/_why_we_need_you'

.wanted.row
  .item
    = @render_partial 'index/wanted/_seo_marketing'

  .item
    = @render_partial 'index/wanted/_it_professionals'

  .item
    = @render_partial 'index/wanted/_web_developer'

.row.why-i-should-do-this
  = @render_partial 'index/_why_i_should_do_this'

.row
  = @render_partial 'index/_get_in_contact'
